.logo{
    height: 90px;
    width: 80px;
    margin-top: 5%;
} 
.cover{
    display: flex;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}
.h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
}
.card{
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    width: 360px;
    border-radius: 10px;
    padding: 8px 13px;
    margin-bottom: 3%;
}
.Foodimage{
    border-radius: 10px;
}
